body {
  background-color: rgb(8, 1, 32);
}

.header-box {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  margin: 0 auto;
  max-width: 1000px;
  width: 40%;
  padding: 1rem;
  font-size: 1.5em;
  border: none;
  outline: none;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 0 20px 0 gray;
}

.gallery {
  padding: 1.5rem;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.image-container {
  display: flex;
  width: 400px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.unsplash-image {
  width: 100%;
  object-fit: cover;
  transition: 0.3s scale ease-in-out;
}

.unsplash-image:hover {
  cursor: zoom-in;
  scale: 1.2;
  transition: 0.3s scale ease-in-out;
}

.loading-gif {
  width: 300px;
}
